.u-section-1 .u-sheet-1 {
  min-height: 500px;
}

.u-section-1 .u-video-1 {
  width: 924px;
  height: 411px;
  margin: 44px auto 43px;
}

.u-section-1 .embed-responsive-1 {
  position: absolute;
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 409px;
  }

  .u-section-1 .u-video-1 {
    width: 720px;
    height: 320px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 329px;
  }

  .u-section-1 .u-video-1 {
    width: 540px;
    height: 240px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 240px;
  }

  .u-section-1 .u-video-1 {
    width: 340px;
    height: 151px;
  }
}