.u-section-1 .u-sheet-1 {
  min-height: 500px;
}

.u-section-1 .u-video-1 {
  width: 931px;
  height: 413px;
  margin: 44px auto;
}

.u-section-1 .embed-responsive-1 {
  position: absolute;
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 406px;
  }

  .u-section-1 .u-video-1 {
    width: 720px;
    height: 319px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 326px;
  }

  .u-section-1 .u-video-1 {
    width: 540px;
    height: 239px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 237px;
  }

  .u-section-1 .u-video-1 {
    width: 340px;
    height: 150px;
  }
}